<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/resourceLinks :: head"></th:block>

    <title>Admin | Theme</title>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:include="theme/fragments/header"></header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside th:include="theme/fragments/sidebar"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">




    </div>

    <th:block th:include="theme/fragments/footer"></th:block>
</div>
<th:block th:include="theme/fragments/resourceLinks :: footer"></th:block>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/admin/js/pages/dashboard.js}"></script>
</body>
</html>
